<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.payment.dao.CapitalSerialMapper">
    <resultMap id="BaseResultMap" type="com.all580.payment.entity.CapitalSerial">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ref_id" jdbcType="VARCHAR" property="refId"/>
        <result column="ref_type" jdbcType="INTEGER" property="refType"/>
        <result column="capital_id" jdbcType="INTEGER" property="capitalId"/>
        <result column="old_balance" jdbcType="INTEGER" property="oldBalance"/>
        <result column="old_can_cash" jdbcType="INTEGER" property="oldCanCash"/>
        <result column="new_balance" jdbcType="INTEGER" property="newBalance"/>
        <result column="new_can_cash" jdbcType="INTEGER" property="newCanCash"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ref_id, ref_type, capital_id, old_balance, old_can_cash, new_balance, new_can_cash, 
    create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_capital_serial
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_capital_serial
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.all580.payment.entity.CapitalSerial">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_capital_serial (id, ref_id, ref_type,
        capital_id, old_balance, old_can_cash,
        new_balance, new_can_cash, create_time
        )
        values (#{id,jdbcType=INTEGER}, #{refId,jdbcType=VARCHAR}, #{refType,jdbcType=INTEGER},
        #{capitalId,jdbcType=INTEGER}, #{oldBalance,jdbcType=INTEGER}, #{oldCanCash,jdbcType=INTEGER},
        #{newBalance,jdbcType=INTEGER}, #{newCanCash,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.all580.payment.entity.CapitalSerial">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_capital_serial
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="refId != null">
                ref_id,
            </if>
            <if test="refType != null">
                ref_type,
            </if>
            <if test="capitalId != null">
                capital_id,
            </if>
            <if test="oldBalance != null">
                old_balance,
            </if>
            <if test="oldCanCash != null">
                old_can_cash,
            </if>
            <if test="newBalance != null">
                new_balance,
            </if>
            <if test="newCanCash != null">
                new_can_cash,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="refId != null">
                #{refId,jdbcType=VARCHAR},
            </if>
            <if test="refType != null">
                #{refType,jdbcType=INTEGER},
            </if>
            <if test="capitalId != null">
                #{capitalId,jdbcType=INTEGER},
            </if>
            <if test="oldBalance != null">
                #{oldBalance,jdbcType=INTEGER},
            </if>
            <if test="oldCanCash != null">
                #{oldCanCash,jdbcType=INTEGER},
            </if>
            <if test="newBalance != null">
                #{newBalance,jdbcType=INTEGER},
            </if>
            <if test="newCanCash != null">
                #{newCanCash,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.all580.payment.entity.CapitalSerial">
        update t_capital_serial
        <set>
            <if test="refId != null">
                ref_id = #{refId,jdbcType=VARCHAR},
            </if>
            <if test="refType != null">
                ref_type = #{refType,jdbcType=INTEGER},
            </if>
            <if test="capitalId != null">
                capital_id = #{capitalId,jdbcType=INTEGER},
            </if>
            <if test="oldBalance != null">
                old_balance = #{oldBalance,jdbcType=INTEGER},
            </if>
            <if test="oldCanCash != null">
                old_can_cash = #{oldCanCash,jdbcType=INTEGER},
            </if>
            <if test="newBalance != null">
                new_balance = #{newBalance,jdbcType=INTEGER},
            </if>
            <if test="newCanCash != null">
                new_can_cash = #{newCanCash,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.all580.payment.entity.CapitalSerial">
    update t_capital_serial
    set ref_id = #{refId,jdbcType=VARCHAR},
      ref_type = #{refType,jdbcType=INTEGER},
      capital_id = #{capitalId,jdbcType=INTEGER},
      old_balance = #{oldBalance,jdbcType=INTEGER},
      old_can_cash = #{oldCanCash,jdbcType=INTEGER},
      new_balance = #{newBalance,jdbcType=INTEGER},
      new_can_cash = #{newCanCash,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into t_capital_serial (id, ref_id, ref_type,capital_id, old_balance, old_can_cash,
        new_balance, new_can_cash)
        values
        <foreach collection="records" index="index" item="item" separator=",">
            (#{item.id}, #{item.refId}, #{item.refType},#{item.capitalId}, #{item.oldBalance}, #{item.oldCanCash},
            #{item.newBalance}, #{item.newCanCash})
        </foreach>
    </insert>

    <select id="listByCapitalId" parameterType="java.lang.Integer" resultType="map">
        select
        c.id,c.ref_id,c.ref_type, c.create_time as createTime,c.new_balance-c.old_balance as balanceAdd,c.new_can_cash-c.old_can_cash as
        canCashAdd,p.name as changeType
        from t_capital_serial c
        LEFT JOIN t_payment_param p on c.ref_type=p.id
        where capital_id = #{capitalId,jdbcType=INTEGER}
        <if test="startRecord != null">
            limit #{startRecord}
        </if>
        <if test="maxRecords != null">
            , #{maxRecords}
        </if>

    </select>
    <select id="countByCapitalId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        count(*)
        from t_capital_serial
        where capital_id = #{capitalId,jdbcType=INTEGER}
    </select>
</mapper>