<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.payment.dao.EpPaymentConfMapper">
    <resultMap id="BaseResultMap" type="com.all580.payment.entity.EpPaymentConf">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="core_ep_id" property="coreEpId" jdbcType="INTEGER"/>
        <result column="payment_type" property="paymentType" jdbcType="INTEGER"/>
        <result column="conf_data" property="confData" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="cert_p12" property="certP12" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, core_ep_id, payment_type, conf_data, status,cert_p12
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_core_ep_payment_conf
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_core_ep_payment_conf
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.all580.payment.entity.EpPaymentConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_core_ep_payment_conf (id, core_ep_id, payment_type,
        conf_data, status,cert_p12)
        values (#{id,jdbcType=INTEGER}, #{coreEpId,jdbcType=INTEGER}, #{paymentType,jdbcType=INTEGER},
        #{confData,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{certP12,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.all580.payment.entity.EpPaymentConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_core_ep_payment_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="coreEpId != null">
                core_ep_id,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="confData != null">
                conf_data,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="certP12 != null">
                cert_p12,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="coreEpId != null">
                #{coreEpId,jdbcType=INTEGER},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="confData != null">
                #{confData,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="certP12 != null">
                #{certP12,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.all580.payment.entity.EpPaymentConf">
        update t_core_ep_payment_conf
        <set>
            <if test="coreEpId != null">
                core_ep_id = #{coreEpId,jdbcType=INTEGER},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="confData != null">
                conf_data = #{confData,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="certP12 != null">
                cert_p12 = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.all580.payment.entity.EpPaymentConf">
        update t_core_ep_payment_conf
        set core_ep_id = #{coreEpId,jdbcType=INTEGER},
          payment_type = #{paymentType,jdbcType=INTEGER},
          conf_data = #{confData,jdbcType=VARCHAR},
          status = #{status,jdbcType=INTEGER}
        cert_p12 = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listByEpId" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_core_ep_payment_conf
        where core_ep_id=#{core_ep_id}
    </select>

    <select id="countByEpIdAndType" resultType="java.lang.Integer">
        select count(1)  from t_core_ep_payment_conf
        where core_ep_id=#{coreEpId,jdbcType=INTEGER} and payment_type=#{paymentType,jdbcType=INTEGER}
    </select>

    <select id="getByEpIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_core_ep_payment_conf
        where core_ep_id=#{coreEpId,jdbcType=INTEGER} and payment_type=#{paymentType,jdbcType=INTEGER}
    </select>
</mapper>