<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.payment.dao.PaymentSerialMapper">
  <resultMap id="BaseResultMap" type="com.all580.payment.entity.PaymentSerial">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="local_serial_no" jdbcType="VARCHAR" property="localSerialNo" />
    <result column="remote_serial_no" jdbcType="VARCHAR" property="remoteSerialNo" />
    <result column="pay_amount" jdbcType="INTEGER" property="payAmount" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="ref_id" jdbcType="INTEGER" property="refId" />
    <result column="ref_type" jdbcType="INTEGER" property="refType" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, local_serial_no, remote_serial_no, pay_amount, pay_time, ref_id, ref_type, payment_type, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_payment_serial
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_payment_serial
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.all580.payment.entity.PaymentSerial">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_payment_serial (id, local_serial_no, remote_serial_no, 
      pay_amount, pay_time, ref_id, 
      ref_type, payment_type, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{localSerialNo,jdbcType=VARCHAR}, #{remoteSerialNo,jdbcType=VARCHAR}, 
      #{payAmount,jdbcType=INTEGER}, #{payTime,jdbcType=VARCHAR}, #{refId,jdbcType=INTEGER}, 
      #{refType,jdbcType=INTEGER}, #{paymentType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.all580.payment.entity.PaymentSerial">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_payment_serial
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="localSerialNo != null">
        local_serial_no,
      </if>
      <if test="remoteSerialNo != null">
        remote_serial_no,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="refId != null">
        ref_id,
      </if>
      <if test="refType != null">
        ref_type,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="localSerialNo != null">
        #{localSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="remoteSerialNo != null">
        #{remoteSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="refId != null">
        #{refId,jdbcType=INTEGER},
      </if>
      <if test="refType != null">
        #{refType,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.all580.payment.entity.PaymentSerial">
    update t_payment_serial
    <set>
      <if test="localSerialNo != null">
        local_serial_no = #{localSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="remoteSerialNo != null">
        remote_serial_no = #{remoteSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="refId != null">
        ref_id = #{refId,jdbcType=INTEGER},
      </if>
      <if test="refType != null">
        ref_type = #{refType,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.all580.payment.entity.PaymentSerial">
    update t_payment_serial
    set local_serial_no = #{localSerialNo,jdbcType=VARCHAR},
      remote_serial_no = #{remoteSerialNo,jdbcType=VARCHAR},
      pay_amount = #{payAmount,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      ref_type = #{refType,jdbcType=INTEGER},
      payment_type = #{paymentType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>