<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all580.payment.dao.PaymentReqMapper">
    <resultMap id="BaseResultMap" type="com.all580.payment.entity.PaymentReq">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ord_id" jdbcType="BIGINT" property="ordId"/>
        <result column="serial_no" jdbcType="BIGINT" property="serialNo"/>
        <result column="data" jdbcType="VARCHAR" property="data"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ord_id, serial_no, data
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_payment_req
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_payment_req
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.all580.payment.entity.PaymentReq">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_payment_req (id, ord_id, serial_no,
        data)
        values (#{id,jdbcType=INTEGER}, #{ordId,jdbcType=BIGINT}, #{serialNo,jdbcType=BIGINT},
        #{data,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.all580.payment.entity.PaymentReq">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_payment_req
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="ordId != null">
                ord_id,
            </if>
            <if test="serialNo != null">
                serial_no,
            </if>
            <if test="data != null">
                data,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="ordId != null">
                #{ordId,jdbcType=BIGINT},
            </if>
            <if test="serialNo != null">
                #{serialNo,jdbcType=BIGINT},
            </if>
            <if test="data != null">
                #{data,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.all580.payment.entity.PaymentReq">
        update t_payment_req
        <set>
            <if test="ordId != null">
                ord_id = #{ordId,jdbcType=BIGINT},
            </if>
            <if test="serialNo != null">
                serial_no = #{serialNo,jdbcType=BIGINT},
            </if>
            <if test="data != null">
                data = #{data,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.all580.payment.entity.PaymentReq">
    update t_payment_req
    set ord_id = #{ordId,jdbcType=BIGINT},
      serial_no = #{serialNo,jdbcType=BIGINT},
      data = #{data,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>