<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.ep.dao.EpMapper">
    <sql id="limit">
        <if test="limit != null">
            limit #{record_start},#{record_count}
        </if>
    </sql>
    <sql id="ep_list_where">
        <if test="id != null">
            and ep.`id`=#{id}
        </if>
        <if test="name != null">
          <!--  and ep.name like  CONCAT('%',#{name},'%'), and ep.name =  #{name} -->
            and ep.name like  CONCAT('%',#{name},'%')
        </if>
        <if test="ep_type != null">
            and ep.ep_type=#{ep_type}
        </if>
        <if test="status != null">
            and ep.status=#{status}
        </if>
        <if test="province != null">
            and ep.province=#{province}
        </if>
        <if test="city != null">
            and ep.city=#{city}
        </if>
        <if test="link_phone != null">
            and ep.link_phone=#{link_phone}
        </if>
        <if test="core_ep_id != null">
            and ep.core_ep_id = #{core_ep_id}
        </if>
        <if test="creator_ep_id != null">
            and ep.creator_ep_id = #{creator_ep_id}
        </if>

    </sql>
    <select id="selectPlatform" resultType="java.util.HashMap">
        select id,name from t_ep where ep_type=10001;
    </select>

    <select id="getAccountInfoList" resultType="java.util.HashMap">
        select  pic_address,ep.id ,ep.name,ep.linkman,ep.link_phone,ep.province,ep.city,ep.area,ep.address,ep.status,
        date_format(ep.add_time,'%Y-%m-%d') add_time,param.`name` as ep_type_name  from
        t_ep  ep left JOIN t_ep_param param on ep.`ep_type` = param.id
        where
        1=1
        <include refid="ep_list_where"/>
        <include refid="limit"/>
    </select>

    <select id="getAccountInfoListCount" resultType="java.util.HashMap">
        select  count(1)  from
        t_ep  ep left JOIN t_ep_param param on ep.`ep_type` = param.id
        where
        1=1
        <include refid="ep_list_where"/>
    </select>

    <select id="select" resultType="java.util.HashMap">
        select  pic_address,ep.id,ep.name,ep.en_name,ep.ep_type,ep.linkman,ep.link_phone,ep.address,ep.code,ep.license,ep.logo_pic,ep.status,ep.access_id,
        ep.access_key,ep.creator_ep_id,ep.core_ep_id,ep.status_bak,ep.province,
        ep.city,ep.area,ep.group_id,ep.group_name,ep.ep_class,
        date_format(ep.add_time,'%Y-%m-%d') add_time,param.`name` as status_name  from
        t_ep  ep left JOIN t_ep_param param on ep.`status` = param.id
        where
        1=1
       <include refid="ep_list_where"/>
        ORDER BY ep.id desc
        <include refid="limit"/>
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select  count(1)  from
        t_ep  ep left JOIN t_ep_param param on ep.`status` = param.id
        where
        1=1
        <include refid="ep_list_where"/>
    </select>
    <select id="getEp" resultType="java.util.HashMap">
        select    <foreach item="xxoo" index="index" collection="field" open="" separator="," close="">
        ${xxoo}
    </foreach> from t_ep
        where
        1=1 and `id`  in
        <foreach item="item" index="index" collection="epids" open="(" separator="," close=")">
        #{item}
        </foreach>

    </select>
    <select id="all" resultType="java.util.HashMap" >
       select * from t_ep where  core_ep_id=#{core_ep_id};
    </select>
<!-- platform/list/down   下游平台商     truncate(rate/100,2) as-->
    <select id="platformListDown" resultType="java.util.HashMap">
    select e.id,pic_address,name,linkman,link_phone,province,city,area,address, rate from t_core_ep_channel c
       join t_ep e on e.id=c.seller_core_ep_id
        where  1=1 and supplier_core_ep_id= #{ep_id} and ep_type=#{ep_type}
               <include refid="platformListUpDown"/>
    </select>
    <select id="platformListDownCount" resultType="java.lang.Integer">
        select count(1) from t_core_ep_channel c
        join t_ep e on e.id=c.seller_core_ep_id
        where  1=1 and supplier_core_ep_id= #{ep_id} and ep_type=#{ep_type}
        <include refid="platformListUpDown"/>
    </select>
    <sql id="platformListUpDown">
        <if test="epName != null ">
            and   name like CONCAT('%',#{epName},'%')
        </if>
        <if test="epProvince != null and epProvince!=''">
            and province =#{epProvince}
        </if>
        <if test="epCity != null and epCity!=''">
            and city=#{epCity}
        </if>
        <if test="epPhone != null and epPhone!=''">
            and link_phone =#{epPhone}
        </if>
        <include refid="limit"/>
    </sql>

    <!-- platform/list/up   truncate(rate/100,2) as 上游平台商-->
    <select id="platformListUp" resultType="java.util.HashMap">
        select e.id,pic_address,name,linkman,link_phone,province,city,area,address,rate from t_core_ep_channel c
        join t_ep e on e.id=c.supplier_core_ep_id
        where  1=1 and seller_core_ep_id= #{ep_id} and ep_type=#{ep_type}
        <include refid="platformListUpDown"/>
    </select>
    <select id="platformListUpCount" resultType="java.lang.Integer">
        select count(1) from t_core_ep_channel c
        join t_ep e on e.id=c.supplier_core_ep_id
        where  1=1 and seller_core_ep_id= #{ep_id} and ep_type=#{ep_type}
        <include refid="platformListUpDown"/>
    </select>

    <update id="updateCoreEpId">
     update t_ep
     set core_ep_id= #{id}
     where id=#{id}
    </update>
    <!--  停用，冻结平台商  -->
    <update id="updatePlatfromStatus">
     update t_ep
     set status_bak=  status  ,`status`=#{status}
     where  core_ep_id=#{id}
    </update>
    <!-- 激活平台商-->
   <update id="platformEnable">
      update t_ep
     set `status`=#{status}
     where id=#{id}
   </update>
    <update id="epEnable">
      update t_ep
     set `status`=status_bak
     where core_ep_id=#{id} and id!=#{id}
    </update>
    <update id="updateStatus">
        update t_ep set status_bak=#{status},status=#{status} where id=#{id}
        <if test="statusActive != null">
            and status=#{statusActive}
        </if>
    </update>
    <update id="update">
        update t_ep
         set pic_address=#{pic_address},name=#{name},en_name=#{en_name},linkman=#{linkman},link_phone=#{link_phone},address=#{address},
         code=#{code},license=#{license},logo_pic=#{logo_pic},province=#{province},city=#{city},area=#{area}
         ,ep_class=#{ep_class}, pic_address=#{pic_address},group_name=#{group_name},group_id=#{group_id}
        where id =#{id}
    </update>
    <insert id="create">
        INSERT INTO `t_ep`(name,en_name,ep_type,linkman,link_phone,address,code,license,logo_pic,status,access_id,
       access_key,creator_ep_id,core_ep_id,status_bak,province,city,area,group_id,group_name,ep_class,pic_address)
       VALUES (#{name}, #{en_name}, #{ep_type}, #{linkman}, #{link_phone}, #{address}, #{code}, #{license},
      #{logo_pic}, #{status}, #{access_id}, #{access_key}, #{creator_ep_id}, #{core_ep_id}, #{status_bak},
      #{province}, #{city}, #{area}, #{group_id}, #{group_name}, #{ep_class},#{pic_address});
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>   <!-- 添加到map里面key id  -->
    </insert>
    <!--<update id="platFormfreeze">-->
        <!--update t_ep set status_bak=status,status=#{status}-->
        <!--where core_ep_id=#{id}-->
        <!--<if test="statusActive != null">-->
            <!--and status=#{statusActive}-->
        <!--</if>-->
    <!--</update>-->
    <update id="updateEpRole">
       update t_ep set ep_role=#{ep_role} where id=#{id};
    </update>

    <select id="checkNamePhone" resultType="java.util.Map">
        select name,link_phone from t_ep
         where name =#{name} or link_phone=#{link_phone}
    </select>

    <select id="selectSingleTable" resultType="java.util.Map">
        select  id,name,en_name,ep_type,linkman,link_phone,address,code,license,logo_pic,status,access_id,access_key,
        creator_ep_id,core_ep_id,add_time,status_bak,province,city,area,group_id,group_name,ep_class,pic_address,
        CONCAT('',update_time,'') update_time  from t_ep ep
        where 1=1<include refid="ep_list_where"/>
    </select>
    <select id="selectPhone" resultType="java.lang.String">
        select link_phone from t_ep where id=#{id};
    </select>
    <!--<resultMap id="StringMapResultMap" type="java.util.HashMap">-->
        <!--&lt;!&ndash;-->
          <!--WARNING - @mbggenerated-->
          <!--This element is automatically generated by MyBatis Generator, do not modify.-->
          <!--This element was generated on Sat Oct 29 16:45:25 CST 2016.-->
        <!--&ndash;&gt;-->
        <!--<id column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="serial_no" jdbcType="VARCHAR" property="serialNo" />-->
        <!--<result column="clearance_serial_no" jdbcType="VARCHAR" property="clearanceSerialNo" />-->
        <!--<result column="quantity" jdbcType="INTEGER" property="quantity" />-->
        <!--<result column="day" jdbcType="TIMESTAMP" property="day" />-->
        <!--<result column="clearance_washed_time" jdbcType="TIMESTAMP" property="clearanceWashedTime" />-->
        <!--<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />-->
        <!--<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
    <!--</resultMap>-->
</mapper>