<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.role.dao.FuncIntfMapper" >
  <resultMap id="BaseResultMap" type="com.all580.role.entity.FuncIntf" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="func_id" property="funcId" jdbcType="BIGINT" />
    <result column="intf_id" property="intfId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, func_id, intf_id, create_time,CONCAT('',update_time,'') update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_func_intf
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_func_intf
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.all580.role.entity.FuncIntf" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_func_intf (func_id, intf_id, create_time
      )
    values (#{funcId,jdbcType=BIGINT}, #{intfId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.all580.role.entity.FuncIntf" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_func_intf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="intfId != null" >
        intf_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        #{funcId,jdbcType=BIGINT},
      </if>
      <if test="intfId != null" >
        #{intfId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.all580.role.entity.FuncIntf" >
    update t_func_intf
    <set >
      <if test="funcId != null" >
        func_id = #{funcId,jdbcType=BIGINT},
      </if>
      <if test="intfId != null" >
        intf_id = #{intfId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.all580.role.entity.FuncIntf" >
    update t_func_intf
    set func_id = #{funcId,jdbcType=BIGINT},
      intf_id = #{intfId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectFuncIntf" resultType="java.util.HashMap" >
    SELECT
      i.*
      FROM
        t_intf i
        LEFT JOIN t_func_intf fi ON fi.intf_id = i.id
       WHERE
      fi.func_id = #{func_id}
    order by i.create_time desc
  </select>


</mapper>