<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.notice.dao.SmsAccountConfMapper">
    <resultMap id="BaseResultMap" type="com.all580.notice.entity.SmsAccountConf">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ep_id" property="ep_id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="app_id" property="appid" jdbcType="VARCHAR"/>
        <result column="app_pwd" property="apppwd" jdbcType="VARCHAR"/>
        <result column="ep_sign" property="sign" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, ep_id, url, app_id, app_pwd, ep_sign, status
  </sql>
    <select id="selectByEpId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_sms_account_conf
        where ep_id = #{ep_id,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_sms_account_conf
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sms_account_conf
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.all580.notice.entity.SmsAccountConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sms_account_conf (id, ep_id, url,
        app_id, app_pwd, sign,
        status)
        values (#{id,jdbcType=INTEGER}, #{ep_id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
        #{appId,jdbcType=VARCHAR}, #{appPwd,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.all580.notice.entity.SmsAccountConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sms_account_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="ep_id != null">
                ep_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="appPwd != null">
                app_pwd,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="ep_id != null">
                #{ep_id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="appPwd != null">
                #{appPwd,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.all580.notice.entity.SmsAccountConf">
        update t_sms_account_conf
        <set>
            <if test="ep_id != null">
                ep_id = #{ep_id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="appPwd != null">
                app_pwd = #{appPwd,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.all580.notice.entity.SmsAccountConf">
    update t_sms_account_conf
    set ep_id = #{ep_id,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
        app_id = #{appId,jdbcType=VARCHAR},
        app_pwd = #{appPwd,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>