<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.notice.dao.SmsAccountConfMapper">
    <resultMap id="BaseResultMap" type="com.all580.notice.entity.SmsAccountConf">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ep_id" property="epId" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="appId" property="appid" jdbcType="VARCHAR"/>
        <result column="appPwd" property="apppwd" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ep_id, url, appId, appPwd, sign, status
  </sql>
    <select id="selectByEpId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_sms_account_conf
        where ep_id = #{epId,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_sms_account_conf
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sms_account_conf
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.all580.notice.entity.SmsAccountConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sms_account_conf (id, ep_id, url,
        appId, appPwd, sign,
        status)
        values (#{id,jdbcType=INTEGER}, #{epId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
        #{appid,jdbcType=VARCHAR}, #{apppwd,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.all580.notice.entity.SmsAccountConf">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sms_account_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="epId != null">
                ep_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="appid != null">
                appId,
            </if>
            <if test="apppwd != null">
                appPwd,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="epId != null">
                #{epId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="apppwd != null">
                #{apppwd,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.all580.notice.entity.SmsAccountConf">
        update t_sms_account_conf
        <set>
            <if test="epId != null">
                ep_id = #{epId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="appid != null">
                appId = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="apppwd != null">
                appPwd = #{apppwd,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.all580.notice.entity.SmsAccountConf">
    update t_sms_account_conf
    set ep_id = #{epId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      appId = #{appid,jdbcType=VARCHAR},
      appPwd = #{apppwd,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>