<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <header-title></header-title>
    <link href="/voucher/static/css/style.css" rel="stylesheet">
</head>
<body vtag="root">
<div class="root-main">
    <div class="main-container clearfix">
        <div class="main-warp">
            <div class="title"><em></em><h3>可分销产品</h3></div>
            <form id="subForm" class="form-horizontal" method="post" onSubmit="return false;">
                <div class="searchbox clearfix">
                    <div class="form-group">
                        <label class="col-sm-1 col-md-1 col-lg-1 control-label">产品名称:</label>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input class="form-control" type="text" maxlength="30" v-model="queryFormData.product_name">
                        </div>
                        <label class="col-sm-1 col-md-1 col-lg-1 control-label">排序方式:</label>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <remote-sel :setting="sortTypeSetting" :value.sync="queryFormData.order_str"></remote-sel>
                        </div>

                        <label class="col-sm-1 col-md-1 col-lg-1 control-label">来源:</label>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <remote-sel :setting="sourceTypeSetting" :value.sync="queryFormData.is_supplier"></remote-sel>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button class="btn btn-success" type="button" @click="queryFormSubmit">查询</button>
                        </div>
                    </div>
                </div>
                <data-table-dyn :setting="dtSetting" :params="queryFormData" v-ref:dt-list></data-table-dyn>
                <script type="text/x-template" id="data-table-dyn">
                    <component :is="loadStatus"></component>
                    <div v-show="loadStatus == 'dt-load-succ'" class="table-responsive table-top">
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="tr-bt-sc">
                                <td width="10%" style="text-align:center;">主商品</td>
                                <td width="12%" style="text-align:center;">子商品</td>
                                <td width="12%" style="text-align:center;">供应商</td>
                                <td width="8%" style="text-align:center;">最低价</td>
                                <td width="8%" style="text-align:center;">进货价</td>
                                <td width="8%" style="text-align:center;">操作时间</td>
                                <td width="20%" style="text-align:center;">操作</td>
                            </tr>
                            <tr v-for="item in list">
                                <td style="text-align:center;"><a href="javascript:void(0);" @click="prodName(item.product_id)" v-cloak>{{item.product_name}}</a></td>
                                <td style="text-align:center;"><a href="javascript:void(0);" @click="subProdName(item.product_sub_id)" v-cloak>{{item.product_sub_name}}</a><span class="label label-info" v-cloak>{{item.pro_type}}</span></td>
                                <td style="text-align:center;" v-cloak>{{item.supplier_ep_name}}</td>
                                <td class="zt-sc-2" style="text-align:center;" v-cloak>{{item.min_price}}</td>
                                <td class="zt-sc-3" style="text-align:center;" v-cloak>{{item.buying_price}}</td>
                                <td style="text-align:center;" v-cloak>{{item.operation_time}}</td>
                                <td style="text-align:center;">
                                    <span class="name">
                                        <a href="javascript:void(0);" v-show="hasrole('platformGroupSale')" @click="Added(item.product_sub_id,1,item.product_name,item.product_sub_name)">分组上架</a>
                                        <a href="javascript:void(0);" v-show="hasrole('platformGroupUnshelve')" @click="unshelve(item.product_sub_id,3,item.product_name,item.product_sub_name)">分组下架</a>
                                        <a href="javascript:void(0);" v-show="hasrole('platformEpSale')" @click="Added(item.product_sub_id,2,item.product_name,item.product_sub_name)">销售商上架</a>
                                        <a href="javascript:void(0);" v-show="hasrole('platformEpUnshelve')" @click="unshelve(item.product_sub_id,4,item.product_name,item.product_sub_name)">销售商下架</a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pager :page="page"></pager>
                    </div>
                </script>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/voucher/api/local/client/system/load_config"></script>
<script type="text/javascript" src="/voucher/static/script/local/require/require.js"></script>
<script type="text/javascript" src="/voucher/static/script/local/require_config.js"></script>
<script type="text/javascript" src="/voucher/static/script/local/view/prod/saledProdListView.js"></script>
</body>
</html>