<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.all580.ep.dao.EpMapper">
    <!--<resultMap id="BaseResultMap" type="com.all580.ep.entity.Ep">-->
        <!--<id column="id" property="id" jdbcType="INTEGER"/>-->
        <!--<id column="name" property="name" jdbcType="VARCHAR"/>-->
        <!--<result column="en_name" property="en_name" jdbcType="VARCHAR"/>-->
        <!--<result column="ep_type" property="ep_type" jdbcType="INTEGER"/>-->
        <!--<result column="linkman" property="linkman" jdbcType="VARCHAR"/>-->
        <!--<result column="link_phone" property="link_phone" jdbcType="VARCHAR"/>-->
        <!--<result column="address" property="address" jdbcType="VARCHAR"/>-->
        <!--<result column="code" property="code" jdbcType="VARCHAR"/>-->
        <!--<result column="license" property="license" jdbcType="VARCHAR"/>-->
        <!--<result column="logo_pic" property="logo_pic" jdbcType="VARCHAR"/>-->
        <!--<result column="status" property="status" jdbcType="INTEGER"/>-->
        <!--<result column="access_id" property="access_id" jdbcType="INTEGER"/>-->
        <!--<result column="access_key" property="access_key" jdbcType="VARCHAR"/>-->
        <!--<result column="creator_ep_id" property="creator_ep_id" jdbcType="INTEGER"/>-->
        <!--<result column="core_ep_id" property="core_ep_id" jdbcType="INTEGER"/>-->
        <!--<result column="add_time" property="add_time" jdbcType="DATE"/>-->
        <!--<result column="status_bak" property="status_bak" jdbcType="INTEGER"/>-->
        <!--<result column="province" property="province" jdbcType="INTEGER"/>-->
        <!--<result column="city" property="city" jdbcType="INTEGER"/>-->
        <!--<result column="area" property="area" jdbcType="INTEGER"/>-->
        <!--<result column="group_id" property="group_id" jdbcType="INTEGER"/>-->
        <!--<result column="group_name" property="group_name" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
        <!--id,name,en_name,ep_type,linkman,link_phone,address,code,license,-->
        <!--logo_pic,status,access_id,access_key,creator_ep_id,core_ep_id,-->
        <!--add_time,status_bak,province,city,area,group_id,group_name,param.name as status_name-->
    <!--</sql>-->
    <sql id="ep_list_where">
        <if test="id != null">
            and ep.`id`=#{id}
        </if>
        <if test="name != null">
          <!--  and ep.name like  CONCAT('%',#{name},'%'), and ep.name =  #{name} -->
            and ep.name like  CONCAT('%',#{name},'%')
        </if>
        <if test="ep_type != null">
            and ep.ep_type=#{ep_type}
        </if>
        <if test="status != null">
            and ep.status=#{status}
        </if>
        <if test="province != null">
            and ep.province=#{province}
        </if>
        <if test="city != null">
            and ep.city=#{city}
        </if>
        <if test="link_phone != null">
            and ep.link_phone=#{link_phone}
        </if>
        <if test="access_id != null">
            and ep.access_id = #{access_id}
        </if>
        <if test="core_ep_id != null">
            and ep.core_ep_id = #{core_ep_id}
        </if>
        <if test="creator_ep_id != null">
            and ep.creator_ep_id = #{creator_ep_id}
        </if>

    </sql>
    <select id="select" resultType="com.all580.ep.api.entity.Ep">
       select  ep.*,param.`name` as status_name  from
        t_ep  ep left JOIN t_ep_param param on ep.`status` = param.id
        where
        1=1
       <include refid="ep_list_where"/>
    </select>
    <select id="getEp" resultType="com.all580.ep.api.entity.Ep">
        select    <foreach item="name" index="index" collection="field" open="" separator="," close="">
        ${name}
    </foreach> from t_ep
        where
        1=1 and `id`  in
        <foreach item="item" index="index" collection="epids" open="(" separator="," close=")">
        #{item}
        </foreach>

    </select>
    <select id="all"  resultType="com.all580.ep.api.entity.Ep">
       select * from t_ep where  core_ep_id=#{core_ep_id};
    </select>
    <update id="updateStatus">
        update t_ep set status_bak=status,status=#{status} where id=#{id}
        <if test="statusActive != null">
            and status=#{statusActive}
        </if>
    </update>
    <update id="update">
        update t_ep
         set name=#{name},en_name=#{en_name},linkman=#{linkman},link_phone=#{link_phone},address=#{address},
         code=#{code},license=#{license},logo_pic=#{logo_pic},province=#{province},city=#{city},area=#{area}
         ,ep_class=#{ep_class}
        where id =#{id}
    </update>
    <insert id="create">
        INSERT INTO `t_ep`(name,en_name,ep_type,linkman,link_phone,address,code,license,logo_pic,status,access_id,
       access_key,creator_ep_id,core_ep_id,status_bak,province,city,area,group_id,group_name,ep_class)
       VALUES (#{name}, #{en_name}, #{ep_type}, #{linkman}, #{link_phone}, #{address}, #{code}, #{license},
      #{logo_pic}, #{status}, #{access_id}, #{access_key}, #{creator_ep_id}, #{core_ep_id}, #{status_bak},
      #{province}, #{city}, #{area}, #{group_id}, #{group_name}, #{ep_class});
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>   <!-- 添加到map里面key id  -->
    </insert>
</mapper>