<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <header-title></header-title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="/voucher/static/css/style.css" rel="stylesheet">
</head>
<body vtag="root">
<div class="root-main">
    <div class="main-container clearfix">
        <div class="Establish clearfix">
            <div class="title">
                <em></em>
                <h3 v-if="subFormData.product_id == undefined">添加短信/打印模板</h3>
            </div>
            <validator name="checkSubForm">
                <form id="subForm" method="post" onSubmit="return false;">
                    <ul>
                        <li>
                            <label class="col-md-3 col-sm-3 col-lg-3 control-label">
                                <dd>*</dd>
                                模板名字：</label>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <input name="agent" class="form-control" type="text" maxlength="20"
                                       v-model="subFormData.name" v-validate:name="{required:true}"
                                       initial="off"
                                       placeholder="模板名字">
                            </div>
                            <div v-show="$checkSubForm.name.required" for="contactMobile"><img
                                    src="/voucher/static/style/img/baocuo.png"><label class="error">请填写模板名字！</label></div>
                        </li>
                        <li>
                            <label class="col-md-3 col-sm-3 col-lg-3 control-label">
                                <dd>*</dd>
                                供应商：</label>
                            <div class="col-sm-9 col-md-6 col-lg-6">
                                <div class="input-group input-group-lg">
                                    <input class="form-control" type="text" maxlength="50" readonly
                                           v-model="prop.supply_name">
                                    <span class="glyphicon glyphicon-search input-group-addon"
                                          @click="querySupply"></span>
                                    <span class="glyphicon glyphicon-remove input-group-addon"
                                          @click="clearSupply"></span>
                                </div>
                            </div>
                            <div v-show="prop.supply_name.required" for="contactMobile"><img
                                    src="/voucher/static/style/img/baocuo.png"><label class="error">请填写供应商名称！</label></div>
                        </li>
                        <li>
                            <label class="col-md-3 col-sm-3 col-lg-3 control-label">
                                供应商产品：</label>
                            <div class="col-sm-9 col-md-6 col-lg-6">
                                <div class="input-group input-group-lg">
                                    <input class="form-control" type="text" maxlength="50" readonly
                                           v-model="prop.supplyprod_name" @click="querySupplyProd()">
                                    <span class="glyphicon glyphicon-search input-group-addon"
                                          @click="querySupplyProd"></span>
                                    <span class="glyphicon glyphicon-remove input-group-addon"
                                          @click="clearSupplyProd"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label class="col-md-3 col-sm-3 col-lg-3 control-label">
                                <dd>*</dd>
                                短信内容：</label>
                            <div class="col-sm-9 col-md-8  col-lg-6">
                                <textarea rows="4" class="form-control valid" style="resize:none"
                                          v-model="subFormData.sms" initial="off"></textarea>
                            </div>
                        </li>
                        <li>
                            <label class="col-md-3 col-sm-3 col-lg-3 control-label">
                                <dd>*</dd>
                                打印小票内容 ：</label>
                            <div class="col-sm-9 col-md-8  col-lg-6">
                                <textarea rows="4" class="form-control valid" style="resize:none"
                                          v-model="subFormData.printText" initial="off"></textarea>
                            </div>
                        </li>
                    </ul>
                </form>
            </validator>
            <div class="Button-box">
                <button class="btn" type="submit" @click="save">添加</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/voucher/static/script/local/local_config.js"></script>
    <script type="text/javascript" src="/voucher/static/script/local/require/require.js"></script>
    <script type="text/javascript" src="/voucher/static/script/local/require_config.js"></script>
    <script type="text/javascript" src="/voucher/static/script/local/city_config.js"></script>
    <script type="text/javascript" src="/voucher/static/script/local/view/template/addTemplateView.js"></script>
</body>
</html>