<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <header-title></header-title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body vtag="root">
<div class="root-main">
    <div class="main-container clearfix">
        <div class="main-warp">
            <div class="title" v-show="!isDialog"><em></em>
                <h3>供应商产品管理</h3>
            </div>

            <div class="searchbox clearfix">
                <form class="form-horizontal" method="post" onSubmit="return false;">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-1 col-lg-1 control-label">票务产品号:</label>
                        <div class="col-sm-4 col-md-2 col-lg-2">
                            <input class="form-control" type="text" maxlength="30" v-model="queryFormData.prodCode">
                        </div>
                        <div class="col-sm-4 col-lg-4">
                            <button class="btn btn-success" type="button" @click="queryFormSubmit">查询</button>
                            <button class="btn btn-orange" type="button" v-show="showAddProd" @click="addProd">添加
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive table-top">
                <data-table-dyn :setting="dtSetting" :params="queryFormData" v-ref:dt-list></data-table-dyn>
                <script type="text/x-template" id="data-table-dyn">
                    <component :is="loadStatus"></component>
                    <div v-show="loadStatus == 'dt-load-succ'" class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="tr-bt-sc">
                                <td width="3%" style="text-align:center;">Id</td>
                                <td width="8%" style="text-align:center;">供应商</td>
                                <td width="5%" style="text-align:center;">票务产品号</td>
                                <td width="10%" style="text-align:center;">票务产品名</td>
                                <td width="20%" style="text-align:center;">描述</td>
                                <td width="10%" style="text-align:center;">创建时间</td>
                                <td width="10%" style="text-align:center;">同步时间</td>
                                <td width="10%" style="text-align:center;">操作</td>
                            </tr>
                            <tr v-for="line in list">
                                <td style="text-align:center;" v-cloak>{{line.id}}</td>
                                <td style="text-align:center;" v-cloak>{{line.supply_name}}</td>
                                <td style="text-align:center;" v-cloak>{{line.code}}</td>
                                <td style="text-align:center;" v-cloak>{{line.name}}</td>
                                <td style="text-align:center;" v-cloak>{{line.description}}</td>
                                <td style="text-align:center;" v-cloak>{{line.createTime}}</td>
                                <td style="text-align:center;" v-cloak>{{line.syncTime||"-"}}</td>
                                <td style="text-align:center;" v-cloak>
                                    <a href="javascript:;" v-show="line.prodAddType==1"
                                       @click="edit(line.supply_id,line.code)">编辑</a>
                                    <span v-show="line.prodAddType!=1">-</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pager :page="page"></pager>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/script/local/local_config.js"></script>
<script type="text/javascript" src="../static/script/local/require/require.js"></script>
<script type="text/javascript" src="../static/script/local/require_config.js"></script>
<script type="text/javascript" src="../static/script/local/view/supply/listSupplyProdView.js"></script>
</body>
</html>